html {
  height: 100%;
}
body {
  @extend html;
  .touchevents & {
    background: red;
  }
}
.svg-sprite {
  display: none;
}
.icon {
  width: 1em;
  height: 1em;
  &--color {
    fill: #ff0000;
  }
}
